@font-face {
    font-family: "font-game";
    src: url(font/Pony.ttf);
}

.app-game{
    background-image: url("./../../public/img/bgGameXX.png");
    position: fixed;
    width: 100%;
    height: 100%;
    font-family: font-game;
}


.btn-tx{
    font-size: 50px;
    padding: 50px;
}